.font {
    font-family: 'Barlow', sans-serif;
    font-size: 70px;
    color: #040404;
    margin-left: auto;
    margin-right: auto;
}

.alineacion {
    text-align: center;

}
.aeropuerto {
    background-image:url(aeropuerto-personas.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   background-position: absolute;
   

}

.opacidad {
   background-color: #E5E4DF;
   opacity:0.7; /* Opacidad 60% */
   width: 550px;
   height: 600px;
   margin: auto;
   text-align: center;
}

.button1 {
    --offset: 15px;
    --border-size: 2px;
    background: transparent;
    color: #FDFBF7;
    display: inline-flex;
	position: relative;
	padding: 1.5em 3em;
	appearance: none;
    border: 3;
    text-transform: uppercase;
	letter-spacing: .25em;
	outline: none;
	cursor: pointer;
	border-radius: 0;

}

.opacity{

    
}